.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .image-container {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* For debugging */
  }
  
  
  .image-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover; /* Maintain aspect ratio, filling the container */
  }
  